
.logo{
	height: 80px;
}
.jumbotron, .row{
	text-align: center;
	background-color: #6699FF;
}
.social{
	text-align: center;
}
.btn{
	background-color: blue;
}
body{
	margin-top: 20px;
	background-color: #C8C8C8 ;
	margin-right: 0px;
}
.top{
	text-decoration: underline;
}
.price{
	float: right;
}
.item{
	height: 400px;
	min-width: 100%;
	max-width: none;
	position: absolute;
  	top: 0;
  	left: 0;
}
h3{
	font-family: Papyrus, fantasy;
	font-size: 40px;
	text-shadow: 4px 4px 10px green;
}
h2{
	color: #d7ceb2;
	text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
	font: 80px 'BazarMedium';
	letter-spacing: 10px;s
}
h4, h5, p {
    font-family: Papyrus, fantasy;
}
.section{
	border-radius: 10px;
	border-color: green;
    border-top-style: groove;
    border-right-style: groove;
    border-bottom-style: groove;
    border-left-style: groove;
    border-width: 15px;
    margin: 10px;
	padding: 30px;
	color: white;
	background-color: #6699FF;
}
.bar{
	color: black;
}
.map{
	text-align: center;
}
